.top{
  padding-left: 40px;
  width: 360px;
  height: 50px;
  margin: 20px auto;
  display: flex;

  input{
    height: 24px;
  }
  .btn{
    height: 28px;
    margin-left: 10px;
    line-height: 30px;
    border: 1px solid rgb(169,169,169);
    cursor: pointer;
  }
  .btn:hover{
    color: red;
  }
}

.content{
  width: 400px;
  height: 200px;
  margin: 0 auto;
  .del{
    cursor: pointer;
    color: orange;
  }
  .del:hover{
    color: red;
  }
}
