h2{
  text-align: center;
}
.addList{
  width: 274px;
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  input{
    height: 30px;
    width: 270px;
    font-size: 20px;
  }
}
.todo{
  width: 300px;
  margin: 0 auto;
}
.untodo{
  width: 300px;
  margin: 0 auto;
}
